* {
    top: 0;
    padding: 0;
    background-color: rgb(24, 18, 18);
}

.grid-container {
    height: 35%;
    width: 35%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin-left: 33.5%;
    grid-gap: 5px;
    border-radius: 10px;
}

.imgs {
    height: 100%;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
}

.grid {
    height: 4.5vw;
    width: 4.5vw;
    border: 2px solid black;
    border-radius: 4.5px;
}

h2 {
    color: white;
    text-align: center;
}
